.titile{
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
    padding-left: 3.5em;
    flex: 1;
}
.titile > a{
    text-decoration: none;
    color: white;
    text-decoration: none;
}
.titile > a >h2{
    background-color: #D72323;
    border-radius: 5px;
    padding-top: 12.5px;
    height: 60px;
    width: 170px;
    text-align: center;
}
main{
    display: flex;
    display: flex;
    flex-direction: column;
}
#weraper2{
    float: right;
    position: absolute;
    right: 2em;
    top: 8em;
    flex: 1;
}
#wrapper-name{
    background-color: white;
    width: 29em;
    height: 11em;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#foto_asli{
    float: left;
    width: 128px;
    height:fit-content;
}
#pro_wrap{
    left: 10px;
    position: relative;
}

.weraper1{
    position: relative;
    display: block;
    top: 2em;
}




